Hejka, to nasza średnia firma - mamy pięćdziesięciu pracowników, szefa i wiceszefa. Zajmujemy się streamingiem. Możesz nam pomóc sprawdzić ile średnio zarabia pracownik w tej naszej firmie? Szef mówi, że nie da nam podwyżki, bo średnio zarabiamy prawie dwadzieścia tysięcy - problem w tym, że kogo nie spytam, nikt nie zarabia powyżej sześciu tysięcy... Pomóż mi znaleźć kłamcę, szefostwo, czy koledzy z biurka...

Tutaj masz zbiór wypłat wszystkich pracowników - ja nie umiem czytać liczb. To prawda, że zarabiamy średnio dwadzieścia tysięcy?

In [33]:
import numpy as np
import pandas as pd
dataset= [3542, 3579, 4745, 4386, 3784, 3832, 4045, 3912, 4889, 3951, 4672, 4381, 4733, 3591, 4523, 4643, 3762, 3841, 3622, 4925, 4576, 3643, 4551, 3982, 3675, 3635, 4817, 3915, 4880, 4661, 4577, 4528, 3858, 3567, 3866, 403888, 4597, 3960, 3834, 4306, 4525, 3692, 4136, 4043, 399991, 3624, 4816, 4833, 4054, 4573, 4199, 3757]
len(dataset)

52

In [37]:
#mean = sum(dataset)/len(dataset) jakby ktoś nie umiał w funkcje, zawsze można wrócić do podstaw :)
mean = np.mean(dataset)
int(mean)

19479

O wow! To jednak prawda? No nie, możesz jakoś sprawdzić, czy coś nie zawyża wyników...? Szefostwo ostatnio chwaliło się podwyżką... Może oni to jakoś zawyżają...

In [40]:
import numpy as np
import pandas as pd
outliers=[]
def detect_outliers(dataset):

    threshold = 3 #próg odchyleń std który będzie oddzielał wartości odstające
    mean = np.mean(dataset)
    std = np.std(dataset)


    for i in dataset:
        z_score = (i - mean)/std
        if np.abs(z_score) > threshold:
            outliers.append(i)
    return outliers

Piękna funkcja! Chwila prawdy...

In [50]:
outlier_pt=detect_outliers(dataset)
print(outlier_pt)

[403888, 399991]

No nie! Tyle zarabiają? Skandal! Eat the rich! To jaka jest prawdziwa średnia?

In [49]:
new_mean = np.mean(dataset)
int(new_mean)

4180

Wow! Wiedziałem!